{% extends "chotaapp/base.html" %}
{% block title %}
{% endblock title %}




{% block body %}<br>

<style>
    .er{
        color:red
    }

    .float-child.green{
    width: 40%;
    float: left;
    padding: 20px;
    border: 2px solid black;
    margin-right: 20px;
    height:200px; 
    margin-top: 10px;
    background-color: rgb(201, 121, 183);
    margin-left: 350px;
      
} 
</style>
<div class="float-container ">

    <div class="float-child green">

<center><p>Enter your Registered email below:</p></center><br>
<form method="Post" style="margin-left: 90px;">
{% csrf_token %}

{{form.as_p}}

<br>
<input type="submit" style="margin-left: 110px;" value="submit">
</form>
    </div>
    {% endblock body %}