{% extends "chotaapp/base.html" %}
{% block title %}
{% endblock title %}




{% block body %}<br>




{% if validlink %}
<style>
    .er{
        color:red
    }

    .float-child.green{
    width: 40%;
    float: left;
    padding: 20px;
    border: 2px solid black;
    margin-right: 20px;
    height:300px; 
    margin-top: 10px;
    background-color: rgb(201, 121, 183);
    margin-left: 350px;
      
} 
</style>
<div class="float-container ">

    <div class="float-child green">


<form method="Post">
    {% csrf_token %}
    
    {{form.as_p}}
    
    
<button type="submit" style="margin-left: 160px;" value="submit">submit</button>
</form>
</div>
{% else %}

<center><h> The validation link is not valid </h></center>
{% endif %}

{% endblock body %}