{% extends 'chotaapp/base.html' %}
{% block title%} profile   {% endblock title %}
    
           
{% block body %}

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<h> <strong>welcome &nbsp{{request.user.username|capfirst}}</strong></h>
<style>
  .float-child.green{
  width: 40%;
  float: right;
  padding: 20px;
  border: 2px solid black;
  margin-right: 270px;
  height:750px;
  margin-top: 10px;
  background-color: rgb(201, 121, 183);
  margin-left: 50px;
  
    
} 
 
.float-child.blue{
  width: 20%;
  float: left;
  padding: 20px;
  border: 2px solid black;
  margin-right: 20px;
  height:200px;
  margin-top: 10px;
  background-color: rgb(201, 121, 183);
  margin-left:0px;
  
    
} 



</style>
<div class="float-container ">
  <div class="float-child blue">
    <a type="button"  href="/profile" class="btn btn-primary">Profile</a><br>
    <a type="button" href="/address" class="btn">Address</a><br>
    <a type="button" href="/orders" class="btn">My Orders</a>


  </div>

  <div class="float-child green">
<form   action=""   method="POST"   style="margin-left: 10px;">
  {% csrf_token %}
  {% if form.non_field_errors %}
   {% for error in form.non_field_errors %}
     <p class="er">{{error}}</p>
   {% endfor %}
  {% endif %}
  <form   action=""   method="POST"  novalidate >
      {% csrf_token %}
      
      {% for n in form %}
       {{n.label_tag}} {{n}} {{n.errors|striptags}} <br><br>
         
      {% endfor %}
      <input type="submit" style="margin-left: 160px;" value="submit">
   </form>
</form>
  </div>
</div>



{% endblock body %}